#item {
  padding: 15px 0;
  width: 100%;
  label {
    display: block;
  }
  #title {
    font-size: 18px;
    font-weight: bold;
  }
  #last-modification {
    font-size: 12px;
    font-weight: 300;
  }
}

#no-notes {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;
  ion-icon{
    font-size: 100px;
  }
  span{
    margin-bottom: 20px;
    font-weight: 300;
    text-align: center;
  }
}
